.content{
	margin: 10px auto;
	width: 700px;
}
.excluir{
	text-decoration: line-through;
}

.ui-alert{
	background-color: #F2DEDE;
	margin: 10px auto;
	padding: 10px;
	text-align: center;
	color: #FFF;
	border-radius: 5px;
}

.ui-alert-title{
	font-weight: bold;
	color: #AF4341;
	font-size: 22px;
}

.ui-alert-message{
	color: #AF4341;
}