<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">

	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-messages.min.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtlr.js"></script>
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>
	<script src="js/services/serialGeneratorService.js"></script>
	<script src="js/config/serialGeneratorConfig.js"></script>
	<script src="js/values/configValue.js"></script>
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/ellipsisFilter.js"></script>
	<script src="js/directives/uiAlertDirective.js"></script>
	
</head>
<body ng-controller="listaTelefonicaCtlr">
	<div class="container">
		<div class="content">
			<div class="jumbotron">
				<h3 class="center">{{ appTitle }}</h3>
				<input type="text" class="form-control" name="criterioBusca" value="" placeholder="O que está buscando?" ng-model="criterioBusca">
				<ui-alert title="Ops! Aconteceu um problema">
					Deu ruim no pobrema da situação
				</ui-alert>
				
				<table class="table table-striped table-rounded" ng-show="contatos.length > 0">
					<thead>
						<tr>
							<th></th>
							<th>Serial</th>
							<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
							<th><a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
							<th>Operadora</th>
							<th>Data</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="contato in contatos | filter : criterioBusca | orderBy : criterioOrdenacao:direcaoDaOrdenacao track by $index" ng-class="{ 'danger text-danger excluir' : contato.selecionado }">
							<!--<td ng-repeat="(key, value) in contato">{{ value }}</td>-->
							<td><input type="checkbox" ng-model="contato.selecionado"></td>
							<td>{{ contato.serial }}</td>
							<td>{{ contato.nome | name | ellipsis:10}}</td>
							<td>{{ contato.telefone }}</td>
							<td>{{ contato.operadora.nome | uppercase}}</td>
							<td>{{ contato.data | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td><div style="width: 20px; height: 20px; border: 1px solid #a9a9a9; background-color: {{ contato.grupo }};" ng-style="{ 'background-color' : contato.grupo.cor }"></div></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<h3>Adicionar Novo Contato</h3>
				<div class="row">
					<div class="col-md-12">
						<form name="contatoForm">
							<div class="form-group">
								<label class="control-label">Nome</label>
								<div ng-class="{'input-group' : contatoForm.nome.$dirty}">
									<input type="text" class="form-control" name="nome" ng-model="contato.nome" ng-required="true" ng-minLength="10" />
									<div class="input-group-addon" ng-show="contatoForm.nome.$dirty">	
										<span class="text-danger" ng-show="contatoForm.nome.$invalid"><i class="glyphicon glyphicon-asterisk"></i></span>
										<span class="text-success" ng-show="contatoForm.nome.$valid"><i class="glyphicon glyphicon-ok"></i></span>
									</div>
								</div>
								<br>
								<div ng-messages="contatoForm.nome.$error">
									<div class="alert alert-danger" ng-message="minlength">
										Seu nome completo deve conter no mínimo 10 caracteres.
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Telefone</label>
								<div ng-class="{'input-group' : contatoForm.telefone.$dirty}">
									<input type="text" class="form-control" name="telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
									<div class="input-group-addon" ng-show="contatoForm.telefone.$dirty">
										<span class="text-danger" ng-show="contatoForm.telefone.$invalid"><i class="glyphicon glyphicon-asterisk"></i></span>
										<span class="text-success" ng-show="contatoForm.telefone.$valid"><i class="glyphicon glyphicon-ok"></i></span>
									</div>
								</div>
								<br>
								<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
									Digite um telefone no formato 9999-9999 ou 99999-9999
								</div>	
							</div>
							<div class="form-group">
								<label class="control-label">Sua operadora</label>
								<div class="input-group">
									<select class="form-control" ng-model="contato.operadora" name="operadora" ng-options="operadora.nome +'('+ ( operadora.preco | currency)+')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
										<option value="">Sua operadora</option>
									</select>
									<div class="input-group-addon" ng-show="contatoForm.operadora.$dirty">
										<span class="text-danger" ng-show="contatoForm.operadora.$invalid"><i class="glyphicon glyphicon-asterisk"></i></span>
										<span class="text-success" ng-show="contatoForm.operadora.$valid"><i class="glyphicon glyphicon-ok"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Grupo do Contato</label>
								<div class="input-group">
									<select class="form-control" ng-model="contato.grupo" name="grupo" ng-options="grupo.cor as grupo.nome for grupo in grupos" ng-required="true">
										<option value="">Selecione o grupo</option>
									</select>
									<div class="input-group-addon" ng-show="contatoForm.grupo.$dirty">
										<span class="text-danger" ng-show="contatoForm.grupo.$invalid"><i class="glyphicon glyphicon-asterisk"></i></span>
										<span class="" ng-show="contatoForm.grupo.$valid" style="color: {{ contato.grupo }};"><i class="glyphicon glyphicon-ok"></i></span>
									</div>
								</div>
								<!--<span style="width: 20px; height: 20px; border: 1px solid #a9a9a9;"></span>-->
							</div>
							<div class="form-group">
								<button class="btn btn-success btn-block" ng-click="addContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
								<button class="btn btn-danger btn-block" ng-click="deleteContato(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contato</button>
							</div>
						</form>
						<hr>
						<div class="alert alert-info">
							<small class="text-danger" ><i class="glyphicon glyphicon-asterisk"></i> Inválido</small><br>
							<small class="text-success" ><i class="glyphicon glyphicon-ok"></i> Válido</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer ng-include="'footer.html'"></footer>
	</div>
</body>
</html>